body {
    display: flex;
    justify-content: center;
    background-color: #cbe9e1;
    font-family: "Courier New", Courier, monospace;
    font-size: 10px;
    font-style: bold;
  }
  
  .board {
    border: solid 1px black;
    width: 1000px;
    height: 1000px;
  }
  
  .both-columns {
    display: flex;
    justify-content: space-between;
  }
  
  .top-row {
    padding: 0 ;
    display: flex;
  }
  
  .right-column {
    flex-direction: column;
    justify-content: center;
  }
  
  .left-column {
    flex-direction: column;
  }
  
  .bottom-row {
    padding: 0 ;
    display: flex;
  }
  
  
  
  .top-square, .bottom-square {
    margin: 0;
    height: 130px;
    width: 80px;
    border: solid 1px black;
    text-align: center;
  }
  
  .left-square , .right-square {
    margin: 0;
    height: 80px;
    width: 130px;
    border: solid 1px black;
    display: flex;
    align-items: flex-start;
  }
  
  .cell-color {
    width: 100%;
    height: 20%;
    background-color: gray;
  }
  
  .square-1, .square-10 {
    display: flex;
    justify-content: center;
    width: 130px;
    height: 130px;
  }
  
  .player1-piece, .player2-piece {
    position: absolute;
    z-index: 100;
  }

  .roll-dice {
    display: flex;
    justify-content: center;
  }

  .dices {
    display: flex;
    justify-content: center;
  }

  .left-square > p {
    writing-mode: vertical-lr;
    text-align: center;
  }

  .right-square > p {
    writing-mode: vertical-lr;
    text-align: center;
    transform: rotate(180deg);
  }

  .right-square {
    display: flex;
    justify-content: space-between;
  }

  .left-square {
    display: flex;
    justify-content: space-between;
  }

  .cell-color-left, .cell-color-right {
    width: 20%;
    height: 100%;
    background-color: gray;
  }

  .page-view {
    display: none;
  }

  #setup {
    margin: 15px;
  }

  #player-3-input, #player-4-input {
    display:none;
  }