body {
    display: flex;
    justify-content: center;
    background-color: #cbe9e1;
    font-family: "Courier New", Courier, monospace;
    font-size: 10px;
    font-style: bold;
  }
  
  .board {
    border: solid 1px black;
    width: 1000px;
    height: 1000px;
  }
  
  .both-columns {
    display: flex;
    justify-content: space-between;
  }
  
  .top-row {
    padding: 0 ;
    display: flex;
  }
  
  .right-column {
    flex-direction: column;
    justify-content: center;
  }
  
  .left-column {
    flex-direction: column;
  }
  
  .bottom-row {
    padding: 0 ;
    display: flex;
  }
  
  
  
  .top-square, .bottom-square {
    margin: 0;
    height: 130px;
    width: 80px;
    border: solid 1px black;
    text-align: center;
  }
  
  .left-square , .right-square {
    margin: 0;
    height: 80px;
    width: 130px;
    border: solid 1px black;
  }
  
  .cell-color {
    width: 100%;
    height: 20%;
    background-color: gray;
  }
  
  .square-1, .square-10 {
    display: flex;
    justify-content: center;
    width: 130px;
    height: 130px;
  }
  
  .square-19 > .collect-salary {
  }
  
  .player1-piece {
    position: absolute;
    z-index: 10;
  }

  .roll-dice {
    display: flex;
    justify-content: center;
  }

  .dices {
    display: flex;
    justify-content: center;
  }

  .rotate-cell {
    /* -webkit-transform: rotate(90deg); /* Safari and Chrome */
    /* -moz-transform: rotate(90deg);   /* Firefox */
    /* -ms-transform: rotate(90deg);*/  
    /* -o-transform: rotate(90deg);    */
    /* transform: rotate(90deg);   */
  }

  .cell-information {

    font-size: 16px;
    border: solid 1px black;
  }

  .end-turn {
    display: flex;
    justify-content: center;
  }